$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%,
);

$columns__margin: 3.8%;

$container__width: 1200px;

$color__primary: #000;
$color__secondary: #d7c284;
$color__3: #d1d2c8;
