.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}

.gallery-item {
	grid-column: auto;

	&:nth-of-type(3n + 1) {
		grid-column: 1 / span 2;
	}

	img {
		display: block;
		width: 100%;
	}
}
