.menu-content {
	font-weight: 400;

	p {
		margin: 0.25em 0;
	}

	a {
		font-weight: inherit;

		&:hover {
			color: #fff;
		}
	}

	.site-title {
		color: #000;
		font-size: 1.1em;
	}

	.social-links {
		font-size: 1.8em;
		margin: 1em 0 0;
	}
}
