.single-nav {
	grid-area: nav;

	li {
		display: block;
		margin-bottom: 0.5em;
		text-align: left;
	}

	a {
		color: inherit;
		display: block;
		padding: 0;
	}

	.current,
	& a:hover {
		color: $color__secondary;
	}
}
