.site-branding {
}

.site-title {
	color: $color__secondary;
	margin: 0 auto;
	font-size: 1rem;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;

	a,
	img {
		display: block;
	}

	svg {
		height: 90px;

		@media (orientation: landscape) and (max-width: 800px), (max-width: 600px) {
			margin-top: 12px;
			height: 48px;
		}

		path {
			fill: #fff;
			transition: fill 0.3s ease;
		}
	}
}
