.slider {
	display: none;
	margin-top: 2em;
}

.slider img {
	height: 300px;
	width: auto;
	margin: 0 10px;
}

body.menu-open .slider {
	display: none;
}

$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\f053";
$slick-next-character: "\f054";
$slick-dot-character: "\f192";
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

/* Slider */
.slick-list {
	.slick-loading & {
		background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
	}
}

/* Arrows */
.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 2.4em;
	width: 2.4em;
	// line-height: 0px;
	// font-size: 0px;

	cursor: pointer;
	color: transparent;
	top: 50%;
	z-index: 1;
	opacity: 0.45;
	background: black;
	border-radius: 50%;

	transform: translate(0, -50%);
	transition: opacity 0.3s ease;
	padding: 0;
	border: none;
	outline: none;

	.slick-slider:hover & {
		opacity: 0.8;
	}

	&:hover,
	&:focus {
		outline: none;
		color: transparent;
		opacity: 1;
		&:before {
			opacity: $slick-opacity-on-hover;
		}
	}
	&.slick-disabled:before {
		opacity: $slick-opacity-not-active;
	}
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-family: "Font Awesome 5 Free";
		font-weight: 700;
		font-size: 20px;
		line-height: 1;
		color: $slick-arrow-color;
		opacity: $slick-opacity-default;
	}
}

.slick-prev {
	left: 0.25em;
	[dir="rtl"] & {
		left: auto;
		right: 0.25em;
	}
	&:before {
		content: $slick-prev-character;
		[dir="rtl"] & {
			content: $slick-next-character;
		}
	}
}

.slick-next {
	right: 0.25em;
	[dir="rtl"] & {
		left: 0.25em;
		right: auto;
	}
	&:before {
		content: $slick-next-character;
		[dir="rtl"] & {
			content: $slick-prev-character;
		}
	}
}

/* Dots */

.slick-dotted.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -25px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
	li {
		position: relative;
		display: inline-block;
		height: 20px;
		width: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
		button {
			border: 0;
			background: transparent;
			display: block;
			height: 20px;
			width: 20px;
			outline: none;
			line-height: 0px;
			font-size: 0px;
			color: transparent;
			padding: 5px;
			cursor: pointer;
			&:hover,
			&:focus {
				outline: none;
				&:before {
					opacity: $slick-opacity-on-hover;
				}
			}
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				content: $slick-dot-character;
				width: 20px;
				height: 20px;
				font-family: "Font Awesome 5";
				font-size: $slick-dot-size;
				line-height: 20px;
				text-align: center;
				color: $slick-dot-color;
				opacity: $slick-opacity-not-active;
			}
		}
		&.slick-active button:before {
			color: $slick-dot-color-active;
			opacity: $slick-opacity-default;
		}
	}
}
