.archive {
	&:not(.menu-open) .site-header {
		background-color: rgba(#fff, 0.85);
	}

	.site-main {
		display: block;
	}

	.post-wrap > * {
		margin-bottom: 1em;
	}

	@media (min-width: 600px) {
		.post-wrap {
			display: flex;
			flex-flow: wrap;
			margin: 0 -0.5em;

			& > * {
				margin: 0 0.5em 1em;
				width: calc(50% - 1em);
			}
		}
	}

	@media (min-width: 800px) {
		.post-wrap > * {
			width: calc(33.33% - 1em);
		}
	}

	article {
		background-color: #000;
		color: #fff;
		position: relative;
		text-align: center;

		&:hover {
			color: #fff;

			.post-header {
				opacity: 1;
			}

			img {
				opacity: 0.5;
			}
		}

		h2,
		a {
			color: inherit;
		}
	}

	.post-header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: opacity 0.3s ease;

		.post-title {
			margin: 0;
			font-size: 1rem;
			text-transform: uppercase;
		}

		a {
			color: #fff;
			text-decoration: none;
		}
	}
}

.post-thumbnail {
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
