.site-footer {
	@extend %container;

	// fix single side nav over footer
	z-index: 101;

	color: #333;
	padding: 1rem 0;
	font-size: 85%;
	font-weight: 300;

	@include for-table-portrait-up {
		display: flex;
		justify-content: space-between;
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: $color__secondary;
		}
		&:visited {
			color: inherit;
		}
	}

	.social-links {
		font-size: 1.5em;
		margin: 0.5rem;

		@media (min-width: 600px) {
			margin-left: 1em;
			margin-top: 0;
			font-size: 2em;

			a {
				margin-right: 0;
				margin-left: 0.5em;
			}
		}
	}
}

.site-info {
	text-align: center;

	@media (min-width: 600px) {
		display: flex;
		text-align: left;
	}
}

.site-credits {
	text-align: center;
	margin-bottom: 1em;

	@media (min-width: 600px) {
		text-align: right;
	}
}
