.site-header {
	position: relative;

	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-flow: wrap;

	color: #fff;
	font-size: 1.6em;
	transition: background 0.3s, color 0.3s;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
	margin-left: -2rem;
	margin-right: -2rem;

	body.admin-bar & {
		margin-top: -32px;
	}

	&.sticky {
		margin-left: 0;
		margin-right: 0;

		body.admin-bar & {
			margin-top: 0;
		}
	}

	.site-phone {
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 1rem;
		font-size: 1rem;
		width: 100%;
	}

	.menu-toggle {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		margin-top: 0;
	}

	@include for-table-portrait-up() {
		.site-phone {
			position: absolute;
			top: 1rem;
			left: 1rem;
		}
		
		.menu-toggle {
			bottom: auto;
			top: 1rem;
		}
	}

	@include for-table-landscape-up() {
		.site-phone {
			font-size: 1.6rem;
		}
	}
}

.site-phone {
	color: inherit;
	font-size: inherit;
	display: block;
	margin-right: 0.5rem;
	margin-top: 1rem;
}

.menu-toggle {
	@extend %unstyled-button;

	color: inherit;
	cursor: pointer;
	font-size: 1.25em;
	line-height: 1;
	margin-left: 0.5rem;
	margin-top: 1rem;
	transition: color 0.3s ease;

	i {
		width: 1.6rem;
	}

	.menu-open & i::before {
		content: "\f00d";
	}

	&:hover {
		color: #000;
	}
}

body.menu-open {
	.site-header {
		color: #000;
	}
}

body:not(.page) {
	.site-header {
		color: #000;
	}

	.site-title svg path {
		fill: #000;
	}
}

body:not(.menu-open) .black {
	background-color: rgba($color: #000000, $alpha: 0.8);
	transition: 0.3s;
}

.site-header {
	// Icon transitions are slow, so stop them.
	.site-phone,
	.menu-toggle,
	.site-phone i,
	.menu-toggle i {
		transition: none;
	}

	&.black {
		.menu-toggle:hover {
			color: #fff;
		}
	}

	body.menu-open &.black {
		.menu-toggle:hover {
			color: #000;
		}
	}
}
