body.home {
	.site-phone {
		&:hover {
			color: white;
		}
	}

	.page-header {
		min-height: 0;
	}

	.page-intro {
		p {
			font-size: 2em;
			text-align: center;
		}
	}

	.page {
		grid-column: span 2;
		display: flex;
		align-content: center;
		align-items: center;
	}

	.page-content {
		color: #fff;
		font-size: 1.2em;
		text-align: center;
		max-width: 44em;
		margin-left: auto;
		margin-right: auto;

		a {
			color: inherit;
		}
	}

	.site-footer {
		color: #fff;
	}

	.site-background {
		position: fixed;
	}
}
