nav {
	@extend %inline-menu;

	ul {
		@extend %unstyled-list;
	}

	li {
		line-height: 1.2;
		text-align: center;
	}

	a {
		color: #000;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;

		&:visited,
		&:active {
			color: #121212;
		}

		&:hover {
			color: #272727;
		}
	}
}

.main-navigation {
	@extend %menu-toggle;

	text-align: center;

	display: none;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;

	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease;

	&.toggled {
		display: flex;
		visibility: visible;
		opacity: 1;
	}

	.menu {
		visibility: visible;
		max-height: 100%;

		font-size: 2em;
		margin-bottom: 1em;
		width: 100%;

		@include for-table-portrait-up {
			margin-top: 2em;
			margin-bottom: 2em;
		}

		li {
			display: block;
			border-right: none;
		}

		a {
			color: #fff;
			margin: 0.25em 0;

			&:visited,
			&:active {
				color: #f1f1f1;
			}

			&:hover {
				color: #000;
			}
		}

		.current-menu-item a {
			color: #121212;
		}
	}
}

body.menu-open {
	background-color: $color__3;

	.site-title svg path {
		fill: #333;
	}

	.site-main,
	.site-background,
	.site-footer {
		display: none;
	}
}
