body {
	background-position: top center;
	background-size: auto 100vh;
	background-repeat: no-repeat;
}

.site {
	min-height: 100vh;
	padding: 0 2em;
	overflow: hidden;
}

.site-main {
	@extend %container;

	// @include for-table-portrait-up {
	// 	// 2 column grid
	// 	display: grid;
	// 	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	// 	grid-gap: 2rem;

	// 	.slider {
	// 		grid-column: span 2;
	// 	}
	// }
}

body.page {
	.page-header {
		// Fill rest of screen 1em + 2em + 2em
		min-height: calc(90vh - 5em);

		color: #fff;
		margin-bottom: 2em;

		// Align content
		display: flex;
		align-items: center;

		position: relative;
		z-index: 1;

		@include for-table-portrait-up {
			// Full width
			grid-column: 1 / span 2;
		}
	}

	article.page {
		@extend %fake-background;
	}

	&.home .page::after,
	&.contact .page::after {
		content: none;
	}
}

.page-title {
	font-size: 1.4rem;
	margin: 0 0 2em;
	text-transform: uppercase;
}

.page-intro {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15%;
	max-width: 80%;

	h2 {
		font-size: 3em;
		text-transform: uppercase;
		word-spacing: 1em;
		margin-top: 0;

		@include for-table-landscape-up {
			margin-top: 0.85em;
		}
	}

	p {
		font-size: 2em;
		line-height: 1.2;
	}

	.big-header {
		font-size: 3em;
		font-weight: 900;
	}

	a {
		color: inherit;
	}
}

.page-content {
	padding-top: 2em;

	@media (min-width: 600px) {
		padding-top: 0;
	}

	& > :first-child {
		margin-top: 0;
	}
}

.slider,
.site-footer {
	@extend %fake-background;

	body.home &::after,
	body.contact &::after {
		content: none;
	}
}

.site-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	z-index: -10;

	pointer-events: none;
	background-color: #000;
	overflow: hidden;

	img {
		max-width: none;
		min-height: 100%;
		min-width: 100%;
		width: auto;
		opacity: 0.7;
	}

	@supports (mix-blend-mode: multiply) {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			background-image: linear-gradient(to bottom, #000, #676767);
			mix-blend-mode: multiply;
			opacity: 0.5;
		}

		img {
			opacity: 1;
		}
	}
}

.post {
	display: grid;
	grid-gap: 2rem;
	grid-template-areas:
		"thumbnail"
		"excerpt";
}

.news-left {
	grid-area: excerpt;
}

.news-right {
	grid-area: thumbnail;
}

@media (min-width: 600px) {
	.post {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1.65fr);
		grid-template-areas: "excerpt thumbnail";
	}
}

.post .page-title a {
	text-decoration: none;
}

.post .page-title {
	margin-bottom: 5px;
}

.posted-on {
	margin-bottom: 10px;
	margin-top: 0;
}

.home .site-background {
	-webkit-filter: brightness(0.7);
	filter: brightness(0.7);
}

@media screen and (max-width: 425px) {
	.page-intro {
		max-width: 100%;
	}
}

.testimonial {
	position: relative;
	padding-left: 2em;
}

.testimonial:before {
	content: "“";
	color: #c7c7c7;
	font-size: 60px;
	font-weight: 500;
	line-height: 1;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.testimonial-text {
	color: #c7c7c7;
	font-size: 1.2em;
	font-weight: 700;
}

.testimonial-name {
	font-weight: 500;
	margin-bottom: 0;
}

.testimonial-company {
	font-style: italic;
	font-size: 12px;
	margin: 0;
}

body.contact {
	.site-background {
		position: fixed;
	}
}

body.about {
	.page-intro .big-header {
		font-weight: 400;
	}
}
