.single-project {
	&:not(.menu-open) .site-header {
		background-color: rgba(#fff, 0.85);
	}

	.site-main {
		display: grid;
		grid-template-areas:
			"gallery"
			"article"
			"post-nav";
		grid-gap: 1em;

		@media (min-width: 600px) {
			grid-template-areas:
				"article gallery"
				"article gallery"
				"post-nav .";
			grid-template-columns: 1fr 4fr;
		}
		@media (min-width: 800px) {
			grid-template-areas:
				"nav article gallery"
				"nav article gallery"
				"nav post-nav .";
			grid-template-columns: minmax(min-content, 130px) 1fr 4fr;
			grid-template-rows: min-content 1fr min-content;
		}
	}

	.page-title {
		margin-bottom: 0;
	}

	.single-nav {
		display: none;
		grid-area: nav;
	}

	.project {
		grid-area: article;
	}

	.post-title {
		font-size: 2em;
	}

	.gallery {
		grid-area: gallery;
	}

	.post-navigation {
		grid-area: post-nav;
	}

	@media (min-width: 600px) {
		.post-title {
			margin-top: -0.125em; /* Align text with top of image */
		}
	}
	@media (min-width: 800px) {
		.single-nav {
			display: block;
		}
	}
}

.blog,
.single-post {
	&:not(.menu-open) .site-header {
		background-color: rgba(#fff, 0.85) !important;
	}
}

.single-post {
	.site-main {
		display: block;
	}

	.page-title {
		text-transform: capitalize;
	}

	@media (min-width: 600px) {
		.post {
			grid-template-areas:
				"excerpt thumbnail"
				"post-nav .";
		}
	}
}

.post-content {
	font-size: 0.9em;
	line-height: 1.3;
}
