html,
body {
	box-sizing: border-box;
}

html *,
body * {
	box-sizing: inherit;
}

body {
	color: #000;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: proxima-nova, Helvetica, Arial, sans-serif;
	font-weight: 300;
}

$show_grid: false;

@if $show_grid {
	$grid_line_color: rgba(0, 0, 0, 0.5);
	$grid_size: 32px;

	body {
		background-color: transparent;
		background-image: linear-gradient(
				0deg,
				transparent 24%,
				$grid_line_color 25%,
				$grid_line_color 26%,
				transparent 27%,
				transparent 74%,
				$grid_line_color 75%,
				$grid_line_color 76%,
				transparent 77%,
				transparent
			),
			linear-gradient(
				90deg,
				transparent 24%,
				$grid_line_color 25%,
				$grid_line_color 26%,
				transparent 27%,
				transparent 74%,
				$grid_line_color 75%,
				$grid_line_color 76%,
				transparent 77%,
				transparent
			);
		height: 100%;
		background-size: $grid_size $grid_size;
		background-position: 0 center;

		* {
			background-color: rgba(0, 0, 0, 0.125);
		}
	}
}
