a,
button,
input {
	&:focus,
	&:active {
		outline: 2px solid rgba($color: #000000, $alpha: 0.075);
		outline-offset: 0.15em;
	}
}

:focus-within {
}

::selection {
	background-color: #000;
	color: #fff;
}
