h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.2;
}

p {
	line-height: 1.65;
}

a {
	color: #000;
	transition: color 0.3s ease, background 0.3s ease;

	&:visited,
	&:active {
		color: #141414;
	}

	&:hover {
		color: #282828;
	}
}
